# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MyDigitalSchool Link.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rafar\Git\Unity\MyDigitalSchool Link\.idea\.idea.MyDigitalSchool Link\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
